---
layout: page
title: Categories
---
<section>
  <div class="container">
    <div class="row">
      <div class="text-center">
        {% for category in site.categories %}
				<h2>{{ category[0] }}</h2>
        <hr>
				<ul style="list-style: none">
           {% for post in category[1] %}
             <li>
               <a href=" {{ post.url }}"><strong>{{ post.title }}</strong> | <em>{{ post.date | date: "%d %B %Y" }}</em></a>
             </li>
						 <li><em>{{ post.excerpt }}</em></li>
           {% endfor %}
           <hr>
        </ul>
				{% endfor %}
      </div>
    </div>
  </div>
</section>
