<!-- Menu -->
  <nav id="menu">
    <div class="inner">
      <h2>Menu</h2>
      <ul class="links">
        <li><a href="/index.html"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp;Home</a></li>
        <!-- <li><a href="/generic.html">Generic</a></li> -->
        <li><a href="/elements.html">Elements</a></li>
        <li><a href="/blog.html">Blog</a></li>
        <li><a href="/categories.html">Categories</a></li>
      </ul>
      <a href="#" class="close">Close</a>
    </div>
  </nav>
